*,
*::before,
*::after {
  font-family: inherit;
  font-size: inherit;
  box-sizing: inherit;
  text-decoration: none;
  line-height: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
    'Arial', sans-serif;
  background: #f5f7fa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  width: 100%;
  max-width: 100em;
  margin: 0 auto;
  padding: 0 0.3em;
}
